html{
  box-sizing: border-box;
}
*,*::before,*::after{
  box-sizing: inherit;
}

*{
  transition: 0.3s ease;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}


body {
  padding: 0;
  margin: 0;
}


video {
  width: 100%;
  height: auto;
}

body {
  text-align: center;
  padding-top: 20px;
}